[submodule "zmk/.config/Adv360-Pro-ZMK"]
	path = zmk/.config/Adv360-Pro-ZMK
	url = https://github.com/ryanseipp/Adv360-Pro-ZMK
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
